<h1>{{ title }}</h1>

<div>
  Points: <span>{{ points }}</span>
</div>
<hr />
<div>Code changed at 10:28pm</div>
<hr />
<button (click)="plus1()">Plus 1</button>
<button (click)="reset()">Reset</button>
